.container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.nav {
  padding: 30px 20px;
}

.menu {
  max-width: 52rem !important;
}

.main {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #395966;
  color: #fff;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 42px !important;
  font-weight: 700;
  max-width: 730px !important;
  padding: 20px 20px 10px 20px;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.summary {
  font-weight: 300;
  padding: 10px 20px 100px 20px;
}

.description,
.summary {
  line-height: 1.5;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 300;
}

.description {
  padding: 50px;
  max-width: 42rem !important;
  border-radius: 50px;
}

.desc {
  padding: 50px;
  max-width: 42rem !important;
  border-radius: 10px !important;
}

.descriptionBox {
  color: #fff;
  background-image: url(/contour.svg);
}

.primary {
  color: #395966;
}

.timeline {
  max-width: 52rem !important;
}
